/* Estilos do cabeçalho */
.appHeader {
    background-color: #454fb2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.appTitle {
    font-size: 15px;
}

.appNav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.appNav li {
    font-size: 18px;
}

.appNav a {
    cursor: pointer;
    color: white;
    text-decoration: none; 

    &:hover {
        filter: brightness(1.1);
      }
}

.userInfo {
    font-size: 18px;
}
